<ng-container *ngIf="isAuthed">
  <nav>
    <div class="languages" >
      <img #en (click)="switchLang(en.alt)" src="https://cdn-icons-png.flaticon.com/128/555/555417.png" class="lang" alt="en">
      <img #ru (click)="switchLang(ru.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330437.png" class="lang" alt="ru">
      <img #az (click)="switchLang(az.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330544.png" class="lang" alt="az">
    </div>

    <div class="logo" routerLink="/app/menu-page" style="cursor: pointer">MyKahoot</div>

    <div class="nav-items" style="cursor: pointer">
      <li><a routerLink="/app/menu-page">{{'Home' | translate}}</a></li>
    </div>
    <form>
      <input type="search" #SearchRequest class="search-data" placeholder="{{'Search' | translate}}" required>
      <button type="submit" class="fas fa-search" (click)="Search(SearchRequest.value)"></button>
    </form>
  </nav>
</ng-container>

<ng-container *ngIf="!isAuthed">
  <nav style="width: 1525px">
    <div class="languages" >
      <img #en (click)="switchLang(en.alt)" src="https://cdn-icons-png.flaticon.com/128/555/555417.png" class="lang" alt="en">
      <img #ru (click)="switchLang(ru.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330437.png" class="lang" alt="ru">
      <img #az (click)="switchLang(az.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330544.png" class="lang" alt="az">
    </div>

    <div class="logo">MyKahoot</div>
  </nav>
</ng-container>

