<app-navbar-form></app-navbar-form>

<div id="allthethings">
  <nav>
    <div class="fields" id="change-password" (click)="toPasswordChanging()"><p>{{"Change the password" | translate}}</p></div>
    <div class="fields" id="change-birthday" (click)="toBirthdayChanging()"><p>{{"Change the birthday" | translate}}</p></div>
    <div class="fields" id="exit" (click)="backOptions()"><p>{{"Back" | translate}}</p></div>
  </nav>
</div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
