/*@import "src/components/creating-quiz-option-form/creating-quiz-option-form.component.css";*/

#allthethings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.fields {
  width: 600px;
  padding: 15px;
  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fields:hover {
  background-color: #007bff;
  color: #ffffff;
}

.fields p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: #007bff;
  transition: all 0.3s ease;
}

.fields:hover p {
  color: #ffffff;
}

.store-button {
  position: absolute;
  top: 10%;
  left: 0;
  margin: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 500;
}

.store-button:hover {
  background-color: #218838;
  color: #ffffff;
}

/*fields {*/
/*  width: 300px;*/
/*  padding: 15px;*/
/*  background-color: var(--background-color);*/
/*  border: var(--border);*/
/*  border-radius: 8px;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  transition: all 0.3s ease;*/
/*}*/

/*.fields:hover {*/
/*  background-color: var(--background-color-hover);*/
/*  color: var(--color);*/
/*}*/

/*:root {*/
/*  --background-color: #ffffff;*/
/*  --border: 2px solid #007bff;*/
/*  --color: #ffffff; !* Light text color *!*/
/*  --background-color-hover: #007bff; !* Darker blue on hover *!*/
/*}*/

/*[data-theme='dark'] {*/
/*  --background-color: #333333; !* Dark background color *!*/
/*  --border: 2px solid #0056b3; !* Darker border color *!*/
/*  --color: #ffffff; !* Light text color *!*/
/*  --background-color-hover: #0056b3; !* Darker blue on hover *!*/
/*}*/


.wrapper{
  position: absolute;
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 8px;
  bottom: 30px;
  right: 30px;
  padding: 15px 25px 25px;
  z-index: 99999;
  animation-name: animation;
  animation-duration: 5s;
}

.wrapper header{
  display: flex;
  align-items: center;
  column-gap: 15px;
}

header i{
  color: #4070f4;
  font-size: 32px;
}

header h2{
  color: #4070f4;
  font-weight: 500;
}

.wrapper data {
  margin-top: 16px;
}

.wrapper data p{
  color: #333;
  font-size: 16px;
}

.data p a{
  color: #4070f4;
  text-decoration: none;
  cursor: pointer;
}

.data p a:hover{
  text-decoration: underline;
}

.wrapper .buttons{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons .button{
  border: none;
  width: calc(100% / 2 - 10px);
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background-color: #4070f4;
  cursor: pointer;
}

.buttons .button:hover{
  background-color: #034bf1;
}

@keyframes animation {
  0%   {right: -350px; bottom: 30px;}
  50%  {right: 15px; bottom: 30px;}
  100% {right: 30px; bottom: 30px;}
}
