<app-navbar-form></app-navbar-form>

<h1 style="text-align: center; margin-bottom: 30px;">{{'Top10' | translate}}</h1>

<div style="display: flex; align-items: center; justify-content: center;">
  <div>{{"Category" | translate}}: {{catType}}</div>
  <div>{{"Quiz" | translate}}: {{quizType}}</div>
  <div>{{"Level" | translate}}: {{level}}</div>

  <table class="zigzag">
    <thead>
    <tr>
      <th class="header" style="width: 100px;">&#8470;</th>
      <th class="header" style="width: 150px;">{{'Username' | translate}}</th>
      <th class="header" style="width: 150px;">{{'Points' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of info;  let i = index">
      <!--  <tr *ngFor="let entity of info; index as i">-->
      <td>{{ i + 1 }}</td>
      <td>{{ entity.userName }}</td>
      <td>{{ entity.score }}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
