/* You can add global styles to this file, and also import other style files */
body{
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000;
  --background-color: #f4f4f9;
  --text-color: #000;
}

[data-theme='dark'] {
  --primary-color: #fff;
  --background-color: #000;
  --text-color: #fff;
}
