/* You can add global styles to this file, and also import other style files */
body{
  background-color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

