/* You can add global styles to this file, and also import other style files */
body{
  background-color: #b8c6db !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  height: 100vh;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
}

html, body, app-root {
  height: 100%;
}
