@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

#allthethings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

#allthethings nav div{
  height:50px;
  width:750px;
  background:#006680;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  border-radius: 15px;
}

#allthethings nav div:not(:last-child):not(:first-child):hover{
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}

#allthethings nav div:last-child:hover,
#allthethings nav div:first-child:hover{
  background:#7A0000;
}

@media screen and (max-width: 750px) and (min-width: 550px) {
  #allthethings nav div{
    width: 550px;
  }
}

@media screen and (max-width: 550px) and (min-width: 350px) {
  #allthethings nav div{
    width: 350px;
  }
}
