<app-navbar-form></app-navbar-form>
<app-theme-toggle></app-theme-toggle>

<div id="allthethings">
    <div class="fields" (click)="ToStats()"><p>{{"Stats" | translate}}</p></div>
    <div class="fields" (click)="ToTopResults()"><p>{{"Top10Results" | translate}}</p></div>
    <div class="fields" (click)="ToLeaderBoard()"><p>{{"Leaderboard" | translate}}</p></div>
    <div class="fields" (click)="ToSettings()"><p>{{"Settings" | translate}}</p></div>
    <ng-container *ngIf="userRole === 'Teacher'">
      <div class="fields" (click)="ToYourQuizzes()"><p>{{"YourQuizzes" | translate}}</p></div>
    </ng-container>
</div>

<div id="exit" (click)="BackOptions()"><p>{{"Back" | translate}}</p></div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
