<app-navbar-form></app-navbar-form>

<div class="main">
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk heading">
        {{"Your account were confirmed" | translate}}
      </p>
      <p class="text-blk subHeading">
        {{"You'll be automatically redirected after" | translate}} {{seconds}} {{"seconds" | translate}}
      </p>
    </div>
  </div>
</div>


<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
