<app-navbar-form></app-navbar-form>
<app-theme-toggle></app-theme-toggle>

<div class="form-container">
  <h1 class="heading">
    {{"Get In Touch" | translate}}
  </h1>

  <form class="contact-form">
    <input class="input-field" #FirstName placeholder="{{'First Name' | translate}}">
    <input class="input-field" #LastName placeholder="{{'Last Name' | translate}}">
    <input class="input-field" #Email type="email" placeholder="{{'Email' | translate}}">
    <input class="input-field" #PhoneNumber type="tel" placeholder="{{'Phone Number' | translate}}">
    <textarea class="message-field" #Message placeholder="{{'Your Message' | translate}}"></textarea>
    <button type="button" class="submit-btn" (click)="sendMessage($event, FirstName.value, LastName.value, Email.value, PhoneNumber.value, Message.value)">
      {{"Send" | translate}}
    </button>
  </form>
</div>

<div class="fields" id="exit" (click)="backOptions()"><p>{{"Back" | translate}}</p></div>

<app-footer-form></app-footer-form>
<app-scroll-to-top-form></app-scroll-to-top-form>

