<app-navbar-form></app-navbar-form>
<app-theme-toggle></app-theme-toggle>

<div class="main-container">
  <h1 style="text-align: center; margin-bottom: 30px;">{{'Top10' | translate}}</h1>
  <div *ngIf="info && info.length > 0">
    <div class="table-div">
      <div class="subtitle">{{"Category" | translate}}: {{catType}}</div>
      <div class="subtitle">{{"Quiz" | translate}}: {{quizType}}</div>
      <div class="subtitle">{{"Level" | translate}}: {{level}}</div>

      <table class="zigzag">
        <thead>
        <tr>
          <th class="header" style="width: 100px;">&#8470;</th>
          <th class="header" style="width: 150px;">{{'Username' | translate}}</th>
          <th class="header" style="width: 150px;">{{'Points' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entity of info;  let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ entity.userName }}</td>
          <td>{{ entity.score }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="info && info.length === 0">
    <p>There is no data to display</p>
  </div>
</div>

<div id="exit" (click)="backOptions()"><p>{{"Back" | translate}}</p></div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
