<ng-container *ngIf="username !== ''">
  <nav>
    <div class="languages" >
      <img #en (click)="switchLang(en.alt)" src="https://cdn-icons-png.flaticon.com/128/555/555417.png" class="lang" alt="en">
      <img #ru (click)="switchLang(ru.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330437.png" class="lang" alt="ru">
      <img #az (click)="switchLang(az.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330544.png" class="lang" alt="az">
    </div>

<!--    <div class="menu-icon">-->
<!--      <span class="fas fa-bars"></span>-->
<!--    </div>-->

    <div class="logo" routerLink="/app/player-options-form" style="cursor: pointer">MyKahoot</div>

    <div class="nav-items">
      <li><a routerLink="/app/player-options-form">{{'Home' | translate}}</a></li>
      <li><a routerLink="/app/about-form">{{'About' | translate}}</a></li>
      <li><a routerLink="/app/contact-list-form">{{'Contact' | translate}}</a></li>
    </div>

    <form>
      <input type="search" #SearchRequest class="search-data" placeholder="{{'Search' | translate}}" required>
      <button type="submit" class="fas fa-search" (click)="Search(SearchRequest.value)"></button>
    </form>

    <div class="user-info-container">
      <div class="user-stats">
        <span class="user-level"><i class="fas fa-level-up-alt"></i> {{userLevel}}</span>
        <span class="user-points"><i class="fas fa-star"></i> {{points}} / {{overallPoints}}</span>
        <span class="user-coins"><i class="fas fa-coins"></i> {{coins}}</span>
      </div>
      <img [src]="'assets/images/user.png'" class="user-pic" (click)="toggleMenu()">
    </div>

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img [src]=imageURL (click)="OpenPhotoModalWindow()">
          <h3> {{username}} </h3>
        </div>

        <hr>

        <a class="sub-menu-link" (click)="ToProfile()">
          <img [src]="'assets/images/profile.png'" height="50" width="50" alt="">
          <p>{{"EditProfile" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="ToSettings()">
          <img src="assets/images/setting.png">
          <p>{{"S&P" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="ToSendFeedback()">
          <img src="assets/images/help.png">
          <p>{{"H&S" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="OpenPhotoModalWindow()">
          <img src="assets/images/user.png">
          <p>{{"UpdateProfilePhoto" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="ToDeleteAcc()">
          <img src="assets/images/deleteacc.png">
          <p>{{"DeleteAcc" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="Logout($event)">
          <img src="assets/images/logout.png">
          <p>{{"Logout" | translate}}</p>
          <span> > </span>
        </a>
      </div>
    </div>
  </nav>
</ng-container>

<ng-container *ngIf="username == null">
  <nav style="width: 1525px">
    <div class="languages" >
      <img #en (click)="switchLang(en.alt)" src="https://cdn-icons-png.flaticon.com/128/555/555417.png" class="lang" alt="en">
      <img #ru (click)="switchLang(ru.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330437.png" class="lang" alt="ru">
      <img #az (click)="switchLang(az.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330544.png" class="lang" alt="az">
    </div>

    <div class="menu-icon">
      <span class="fas fa-bars"></span>
    </div>

    <div class="logo">MyKahoot</div>

    <div class="nav-items" style="padding-left: 10%">
      <li><a routerLink="/app/auth-form">{{'Auth' | translate}}</a></li>
      <li><a routerLink="/app/about-form">{{'About' | translate}}</a></li>
      <li><a routerLink="/app/contact-list-form">{{'Contact' | translate}}</a></li>
    </div>
  </nav>
</ng-container>

<app-add-photo-popup-form *ngIf="flag"></app-add-photo-popup-form>
