<ng-container *ngIf="username != null">
  <nav>
    <div class="languages" >
      <img #en (click)="switchLang(en.alt)" src="https://cdn-icons-png.flaticon.com/128/555/555417.png" class="lang" alt="en">
      <img #ru (click)="switchLang(ru.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330437.png" class="lang" alt="ru">
      <img #az (click)="switchLang(az.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330544.png" class="lang" alt="az">
    </div>

    <div class="logo" routerLink="/app/player-options-form" style="cursor: pointer">MyKahoot</div>

    <div class="nav-items">
      <li><a routerLink="/app/player-options-form">{{'Home' | translate}}</a></li>
      <li><a routerLink="/app/about-form">{{'About' | translate}}</a></li>
      <li><a routerLink="/app/contact-list-form">{{'Contact' | translate}}</a></li>
      <li><a routerLink="/app/faq-page">{{'FAQ' | translate}}</a></li>
    </div>

    <form class="search-form">
      <input type="search" #SearchRequest class="search-data" placeholder="{{'Search' | translate}}" required>
      <button type="submit" class="fas fa-search" (click)="Search(SearchRequest.value)"></button>
    </form>

    <div class="user-info-container">
      <div class="user-stats">
        <span class="user-level" title="level"><i class="fas fa-level-up-alt"></i> {{userLevel}}</span>
        <span class="user-points" title="points / overall points"><i class="fas fa-star"></i> {{points}} / {{overallPoints}}</span>
        <span class="user-coins" title="myKahoot coins"><i class="fas fa-coins"></i> {{coins}}</span>
      </div>
      <img [src]="imageURL" class="user-pic" (click)="toggleMenu()">
    </div>

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img [src]="imageURL" alt="profilePhoto" (click)="OpenPhotoModalWindow()">
          <h3> {{username}} </h3>
        </div>

        <hr>

        <a class="sub-menu-link" (click)="ToProfile()">
          <img src="assets/images/user.png" height="50" width="50" alt="profilePhoto">
          <p>{{"EditProfile" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="ToSettings()">
          <img src="assets/images/setting.png">
          <p>{{"S&P" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="ToSendFeedback()">
          <img src="assets/images/help.png">
          <p>{{"H&S" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="OpenPhotoModalWindow()">
          <img src="assets/images/user.png">
          <p>{{"UpdateProfilePhoto" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="ToDeleteAcc()">
          <img src="assets/images/deleteacc.png">
          <p>{{"DeleteAcc" | translate}}</p>
          <span> > </span>
        </a>

        <a class="sub-menu-link" (click)="Logout($event)">
          <img src="assets/images/logout.png">
          <p>{{"Logout" | translate}}</p>
          <span> > </span>
        </a>
      </div>
    </div>

    <div class="menu-icon" (click)="toggleMenuOpen()">
      <span class="fas fa-bars"></span>
    </div>
    <div class="mobile-menu" [ngClass]="{ 'active': isMenuOpen }">
      <div class="mobile-menu-items">
        <a routerLink="/app/player-options-form">{{'Home' | translate}}</a>
        <a routerLink="/app/about-form">{{'About' | translate}}</a>
        <a routerLink="/app/contact-list-form">{{'Contact' | translate}}</a>
        <a routerLink="/app/faq-page">{{'FAQ' | translate}}</a>
        <a *ngIf="username" (click)="ToProfile()">{{"EditProfile" | translate}}</a>
        <a *ngIf="username" (click)="ToSettings()">{{"S&P" | translate}}</a>
        <a *ngIf="username" (click)="ToSendFeedback()">{{"H&S" | translate}}</a>
        <a *ngIf="username" (click)="OpenPhotoModalWindow()">{{"UpdateProfilePhoto" | translate}}</a>
        <a *ngIf="username" (click)="ToDeleteAcc()">{{"DeleteAcc" | translate}}</a>
        <a *ngIf="username" (click)="Logout($event)">{{"Logout" | translate}}</a>
<!--        <div class="user-info-container">-->
<!--          <div class="user-stats">-->
<!--            <span class="user-level"><i class="fas fa-level-up-alt"></i> {{userLevel}}</span>-->
<!--            <span class="user-points"><i class="fas fa-star"></i> {{points}} / {{overallPoints}}</span>-->
<!--            <span class="user-coins"><i class="fas fa-coins"></i> {{coins}}</span>-->
<!--          </div>-->
<!--          <img [src]="imageURL" class="user-pic">-->
<!--        </div>-->
      </div>
    </div>

  </nav>
</ng-container>

<ng-container *ngIf="username == null">
  <nav style="width: 1525px">
    <div class="languages" >
      <img #en (click)="switchLang(en.alt)" src="https://cdn-icons-png.flaticon.com/128/555/555417.png" class="lang" alt="en">
      <img #ru (click)="switchLang(ru.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330437.png" class="lang" alt="ru">
      <img #az (click)="switchLang(az.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330544.png" class="lang" alt="az">
    </div>

    <div class="logo">MyKahoot</div>

    <div class="nav-items" style="padding-left: 10%">
      <li><a routerLink="/app/auth-form">{{'Auth' | translate}}</a></li>
      <li><a routerLink="/app/about-form">{{'About' | translate}}</a></li>
      <li><a routerLink="/app/contact-list-form">{{'Contact' | translate}}</a></li>
      <li><a routerLink="/app/faq-page">{{'FAQ' | translate}}</a></li>
    </div>
  </nav>
</ng-container>

<app-add-user-photo-popup-form [isVisible]="flag" (close)="flag = false"></app-add-user-photo-popup-form>
