<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <ng-container *ngIf="!flag; else enterPassword">
      <div class="input-group">
        <input type="email" id="email" #Mail required>
        <label for="email">Email</label>
      </div>
      <button type="submit" (click)="sendCredsToEmail(Mail.value)">Submit</button>
    </ng-container>
    <ng-template #enterPassword>
      <div class="input-group">
        <input type="password" id="password" #Password required>
        <label for="email">Password</label>
      </div>
      <div class="resend" (click)="resendPassword()">Resend password</div>
      <button type="submit" (click)="auth(Password.value)">Submit</button>
    </ng-template>
  </div>
</div>
