<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-5" style="width: 1000px !important;">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
<!--      <div class="image">-->
<!--        <img src="https://img.icons8.com/color/96/000000/angularjs.png" width="90" alt="logo">-->
<!--      </div>-->
      <div class="quiz-header">
        <h4 style="font-family: cursive;">{{testType}} Quiz!</h4>
        <span style="font-style: italic;">Welcome {{name}}</span>
      </div>
    </div>

    <ng-container *ngIf="!isQuizCompleted">
      <div class="d-flex justify-content-around py-3">
        <div class="score">
          <h5>{{points}} Points</h5>
        </div>
        <div class="question-remain">
          <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionList.length}}</span>
        </div>
        <div class="timer">
          <h5>{{counter}} sec ⏱</h5>
        </div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width': progress + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="question">
        <div class="card" style="text-align: center">
          <h3>{{questionList[currentQuestion]?.questionText}}</h3>
        </div>
      </div>
      <div class="options" style="">
        <ol *ngFor="let option of questionList[currentQuestion]?.options" style="list-style: none;  margin-right: 4%; margin-top: 2%">
          <li (click)="answer(currentQuestion + 1, option)" style="cursor: pointer;">
            <div appChangeBg [isCorrect]="option.correct" class="card" style="cursor: pointer; padding: 5px">
              {{option.text}}
            </div>
          </li>
        </ol>
      </div>
      <div class="d-flex justify-content-between">
        <button [disabled]="currentQuestion === 0" class="btn" (click)="previousQuestion()"><i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i></button>
        <button class="btn" (click)="resetQuiz()"><i class="fa fa-refresh text-primary fa-3x" aria-hidden="true"></i></button>
        <button class="btn" (click)="nextQuestion()"><i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i></button>
      </div>
    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flex justify-content-between">
        <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Congratulations. <br>You have completed the quiz. <br>Below is your result:</h3>
          <p>Total questions attempted: {{questionList.length}} </p>
          <p>Total correct answered: {{correctAnswer}} </p>
          <p>Total wrong answered: {{inCorrectAnswer}} </p>
          <p>Your score: {{points}} points </p>
          <ng-container *ngIf="name !== 'Guest'">
            <div class="buttons">
              <input type="button" class="backToMenuButton" name="backToMenuButton" value="Menu" (click)="ToMenu($event)"/>
              <input type="button" class="showStatsButton" name="showStatsButton" value="Stats" (click)="ToStats($event)"/>
            </div>
          </ng-container>
          <ng-container *ngIf="name === 'Guest'">
            <div class="buttons">
              <input type="button" class="backToMenuButton" name="backToMenuButton" value="Menu" (click)="ToMenu($event)" style="width: 200px"/>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
