<div class="modal" style="display: block">
  <div class="modal-content">
    <span class="close" (click)="ClosePopUp()">&times;</span>
    <input type="text" class="inputBox" placeholder="{{'EnterCatType' | translate}}" #CategoryType>
    <div [hidden]="!isCatNameUsed" class="alert">
      This category name is already in use!
    </div>
    <input type="button" class="createButton" value="{{'CreateCatType' | translate }}" (click)="CreateNewCategory()">
  </div>
</div>

<app-choose-type-of-quiz-form *ngIf="createNewCategoryFlag"></app-choose-type-of-quiz-form>




