<app-navbar-form></app-navbar-form>
<app-theme-toggle></app-theme-toggle>

<div class="message-container">
  <h2>{{"Send a Message" | translate}}</h2>
  <form>
    <div class="form-group">
      <label for="recipient">{{"To" | translate}}:</label>
      <input type="text" id="recipient" name="recipient" [value]="receiver" placeholder='{{"Recipient email" | translate}}' readonly>
    </div>
    <div class="form-group">
      <label for="title">{{"Title" | translate}}:</label>
      <input type="text" id="title" name="title" #Title placeholder="{{'Message title' | translate}}">
    </div>
    <div class="form-group">
      <label for="body">{{"Message" | translate}}:</label>
      <textarea id="body" name="body" #Body placeholder="{{'Write your message here' | translate}}"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" (click)="sendMessageAsync(Title.value, Body.value)">{{"Send" | translate}}</button>
    </div>
  </form>
</div>

<div class="fields" id="exit" (click)="backOptions()"><p>{{"Back" | translate}}</p></div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
