<app-navbar-form></app-navbar-form>

<table datatable class="row-border hover">
  <thead>
  <tr>
    <th>{{"ID" | translate}}</th>
    <th>{{"Category" | translate}}</th>
    <th>{{"Test" | translate}}</th>
    <th>{{"Delete a quiz" | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>0</td>
    <td>Default</td>
    <td>Default</td>
    <td>X</td>
  </tr>
  <tr *ngFor="let category of categories; let i = index">
    <td>{{i + 1}}</td>
    <td>{{category.categoryName}}</td>
    <td (click)="ToWatchQuizForm(category.quizName!)"><a>{{category.quizName}}</a></td>
    <td (click)="DeleteYourQuizzes(category.categoryName!, category.quizName!)" style="cursor: pointer">X</td>
    <td (click)="ToUpdateQuizForm()" style="cursor: pointer"><a>{{"Update" | translate}}</a></td>
  </tr>
  </tbody>
</table>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
