<app-navbar-form></app-navbar-form>
<app-theme-toggle></app-theme-toggle>

<div class="container">
  <h1>{{"Change Birthday" | translate}}</h1>
  <div class="form-group">
    <div class="input-container">
      <input type="date" name="uNewBirthday" id="newBirthday" #newBirthday required="required" placeholder="{{'New Birthday' | translate}}">
    </div>
    <button class="continue-button" [disabled]="!newBirthday.value" (click)="changeBirthday($event, newBirthday.value)">
      {{"Continue" | translate}}
    </button>
  </div>
</div>

<div id="exit" (click)="backOptions()"><p>{{"Back" | translate}}</p></div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
