@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.content-outer-container{
  min-height: 100%;
}


.content-inner-container{
  padding-bottom: 30px;
}

#allthethings, #allthethings2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fields {
  text-align: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  box-sizing: border-box;
  color: orange;
  display: flex;
  justify-content: center;
  line-height: 1em;
  height: 50px;
  width: 750px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition:0.5s;
  transition:0.5s;
  margin-top: 30px;
  font-family:shadows into light;
}

.fields p{
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

.fields:hover {
  transform: translate(0, 0.25em);
}

.fields:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}

@media screen and (max-width: 785px) and (min-width: 500px)
{
  .fields{
    width: 500px;
  }
}

@media screen and (max-width: 500px) and (min-width: 300px)
{
  .fields{
    width: 350px;
  }
}

@media screen and (max-width: 300px)
{
  .fields{
    width: 250px;
  }
}
