<app-navbar-form></app-navbar-form>

<body style="height: 100vh;">
  <div class="row">
    <h1>{{"Forgot Password" | translate}}</h1>
    <h6 class="information-text">{{"Enter your registered email to reset your password" | translate}}</h6>
    <div class="form-group">
      <input type="email" name="user_email" id="user_email" #Email (cut)="false" (copy)="false" (paste)="false">
      <p><label>{{"EmailP" | translate}}</label></p>
      <button (click)="ResetPassword($event, Email.value)">{{"Reset Password" | translate}}</button>
    </div>
  </div>
</body>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
