<app-navbar-form></app-navbar-form>
<app-theme-toggle></app-theme-toggle>

<div id="allthethings">
  <div style="display: flex; flex-direction: column;">
    <div class="statement">{{"Choose a field to view your own stats" | translate}}</div>
    <input class="search-input" [(ngModel)]="searchText" placeholder="{{'Search by Category' | translate}}" />
  </div>
  <div class="main-container">
    <div *ngFor="let category of getCurrentPageItems()">
      <div class="fields" id="{{category.categoryName}}" #div (click)="ToTestsForm(div)"><p>{{category.categoryName}}</p></div>
    </div>
  </div>
</div>

<div class="fields" id="exit" (click)="BackOptions()"><p>{{"Back" | translate}}</p></div>

<div class="pagination-controls">
  <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">{{"Previous" | translate}}</button>
  <span *ngFor="let page of getPageNumbers()">
    <button (click)="setPage(page)" [class.active]="currentPage === page">{{page}}</button>
  </span>
  <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">{{"Next" | translate}}</button>
</div>


<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
