<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <h1>{{"Account Freezing" | translate}}</h1>
    <p>{{"Choose reasons for your account freezing" | translate}}</p>
    <div class="reasons-container">
      <label class="reason">
        <input id="reason1" type="radio" value="{{'Not interested' | translate}}" name="radAnswer" (change)="checkStatus($event);">
        {{"Not interested" | translate}}
      </label>
      <label class="reason">
        <input id="reason2" type="radio" value="{{'Bad interface' | translate}}" name="radAnswer" (change)="checkStatus($event);">
        {{"Bad interface" | translate}}
      </label>
      <label class="reason">
        <input id="reason3" type="radio" value="{{'Bad features' | translate}}" name="radAnswer" (change)="checkStatus($event);">
        {{"Bad features" | translate}}
      </label>
      <label class="reason">
        <input id="reason4" type="radio" value="{{'Found new website' | translate}}" name="radAnswer" (change)="checkStatus($event);">
        {{"Found new website" | translate}}
      </label>
      <label class="reason">
        <input id="reason5" type="radio" value="{{'Other' | translate}}" name="radAnswer" (change)="checkStatus($event);">
        {{"Other" | translate}}
      </label>
      <textarea id="reason6" class="text-input" #WriteTheReason placeholder="{{'Write the reason' | translate}}"></textarea>
    </div>
    <div class="password-container">
      <input class="password-input" [type]="Visibility ? 'text' : 'password'" #password placeholder="{{'Specify your password here' | translate}}" (cut)="false" (copy)="false" (paste)="false">
      <button class="toggle-visibility" (click)="ChangeVisibilityPassword()">
        <span [class]="Visibility ? 'fa fa-eye' : 'fa fa-eye-slash'"></span>
      </button>
    </div>
    <div class="action-container">
      <button class="btn-cancel" (click)="Cancel()">
        {{"Cancel" | translate}}
      </button>
      <button class="btn-freeze" (click)="Freeze($event)">
        {{"Freeze Account" | translate}}
      </button>
    </div>
  </div>
</div>
