<app-navbar-form></app-navbar-form>

<div id="allthethings">
  <nav>
    <div class="statement">{{"Choose a quiz to pass" | translate}}</div>
    <ng-container *ngIf="testType === 'MixedTest'">
      <div class="fields" id="mixed-test" #div (click)="ToRulesForm(div)"><p #MixedTest>{{"Default Mixed test" | translate}}</p></div>
    </ng-container>

    <ng-container *ngIf="testType === 'Programming'">
      <div class="fields" id="programming" #div (click)="ToRulesForm(div)"><p #Programming>{{"Default Programming" | translate}}</p></div>
    </ng-container>

    <ng-container *ngIf="testType === 'Math'">
      <div class="fields" id="math" #div (click)="ToRulesForm(div)"><p #Math>{{"Default Math" | translate}}</p></div>
    </ng-container>

    <ng-container *ngIf="testType === 'Logics'">
      <div class="fields" id="logics" #div (click)="ToRulesForm(div)"><p #Logics>{{"Default Logics" | translate}}</p></div>
    </ng-container>

    <div *ngFor="let category of quizzes">
      <div class="fields" id="{{category.quizName}}" #div (click)="ToRulesForm(div)"><p>{{category.quizName}}</p></div>
    </div>

    <div class="fields" id="exit" (click)="BackOptions()"><p>{{"Back" | translate}}</p></div>
  </nav>
</div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
