<app-navbar-form></app-navbar-form>

<div class="row">
  <h1>{{"Change Password" | translate}}</h1>
  <div class="form-group">
    <input [type]="Visibility1 ? 'text' : 'password'" name="oldPassword" id="oldPassword" required #oldPassword>
    <button id="hidden-eye1" (click)="ChangeVisibilityPassword1()">
      <span [class]="Visibility1 ? 'fa fa-eye icon' : 'fa fa-eye-slash icon'"></span>
    </button>
    <p><label>{{"Old password" | translate}}</label></p>

    <input [type]="Visibility2 ? 'text' : 'password'" name="newPassword" id="newPassword" required #newPassword>
    <button id="hidden-eye2" (click)="ChangeVisibilityPassword2()">
      <span [class]="Visibility2 ? 'fa fa-eye icon' : 'fa fa-eye-slash icon'"></span>
    </button>
    <p><label>{{"New password" | translate}}</label></p>

    <input [type]="Visibility3 ? 'text' : 'password'" name="confirmPassword" id="confirmPassword" required #cNewPassword>
    <button id="hidden-eye3" (click)="ChangeVisibilityPassword3()">
      <span [class]="Visibility3 ? 'fa fa-eye icon' : 'fa fa-eye-slash icon'"></span>
    </button>
    <p><label>{{"Confirm password" | translate}}</label></p>

    <button (click)="changePassword($event, oldPassword.value, newPassword.value, cNewPassword.value)">{{"Continue" | translate}}</button>
  </div>
</div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
