<app-navbar-form></app-navbar-form>

<div class="main">
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk heading">
        {{"About" | translate}}
      </p>
      <pre class="text-blk subHeading">
        {{'PhoneNumber' | translate}}: 000-000-00-00
        {{'Mail' | translate}}: example@gmail.com
        {{'Address' | translate}}: Azerbaijan, Baku
      </pre>
      <div class="social-icons-container">
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
        </a>
      </div>
    </div>
  </div>
</div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
