
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form{
  margin: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.form:hover{
  -webkit-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

.image{
  height: 225px;
  width: 200px;
  background-color: #e21b3c;
}

.image > img{
  height: 200px;
  width: 200px;
}

.title{
  height: 75px;
  width: 200px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.2px;
  word-break: break-word;
}

.title:hover{
  background-color: #e21b3c;
  color: #fff;
}

.form:nth-child(2) > .title:hover{
  background-color: blue;
  color: #fff;
}

.form:nth-child(2) > .image{
  background-color: blue;
}

#login:hover{
  opacity: .66;
}

@media screen and (max-width: 600px)
{
  .form{
    width: 150px;
  }
}

