<div class="modal" style="display: block">
  <div class="modal-content">
    <span class="close" (click)="ClosePopUp()">&times;</span>
    <input type="text" class="inputBox" value="{{reminderName}}" readonly>
    <label for="reminderDate">{{"Reminder Date" | translate}}:</label>
    <input type="datetime-local" id="reminderDate" [(ngModel)]="reminderDate" required>
    <input type="button" class="createButton" value="{{'CreateReminder' | translate }}" (click)="createReminder()">
  </div>
</div>
