<div class="modal" style="display: block">
  <div class="modal-content">
    <span class="close" (click)="closePopUp()">&times;</span>
    <div *ngIf="message">
      <h2>{{ message.title }}</h2>
      <p><strong>{{"From" | translate}}:</strong> {{ message.sender }}</p>
      <p><strong>{{"To" | translate}}:</strong> {{ message.receiver }}</p>
      <p><strong>{{"Date" | translate}}:</strong> {{ message.createdDate | date: 'short' }}</p>
      <p><strong>{{"Message" | translate}}:</strong>{{ message.body }}</p>
    </div>
    <button [routerLink]="['/app/sendMessage', message.sender]">{{"Reply" | translate}}</button>
  </div>
</div>

