.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 50%;
  left: 50%;
  z-index: 1; /* Sit on top */
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
}
