<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <h3>{{"Are you sure to delete account" | translate}}</h3>
    <p>{{"You'll permanently lose your" | translate}}</p>
    <ul>
      <li>{{"Profile" | translate}}</li>
      <li>{{"Stats" | translate}}</li>
      <li>{{"Data" | translate}}</li>
    </ul>
    <div class="action-container">
      <button (click)="Cancel()" class="btn-cancel">{{"Cancel" | translate}}</button>
      <button (click)="DeleteAcc($event)" class="btn-delete">{{"Delete Account" | translate}}</button>
    </div>
  </div>
</div>

