/* Content Container */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: var(--content-bg-color);
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header p {
  font-size: 16px;
  color: var(--header-text-color);
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--header-title-color);
  margin-top: 10px;
}

.link {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: var(--link-hover-color);
}

/* Reasons Container */
.reasons-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Reason Labels */
.reason {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--reason-text-color);
  margin: 10px 0;
}

.reason input {
  margin-right: var(--reason-input-margin-right);
}

/* Textarea */
.text-input {
  width: 100%;
  padding: var(--text-input-padding);
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid var(--text-input-border-color);
  border-radius: 4px;
  background-color: var(--text-input-bg-color);
}

/* Password Container */
.password-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.password-input {
  width: calc(100% - 40px);
  padding: var(--text-input-padding);
  font-size: 16px;
  border: 1px solid var(--password-input-border-color);
  border-radius: 4px 0 0 4px;
  background-color: var(--password-input-bg-color);
}

.toggle-visibility {
  width: 40px;
  background-color: var(--toggle-visibility-bg-color);
  border: none;
  color: var(--toggle-visibility-color);
  font-size: 18px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Action Container */
.action-container {
  margin-top: 30px;
}

/* Delete Button */
.btn-delete {
  background-color: var(--btn-delete-bg-color);
  color: var(--btn-delete-text-color);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-delete:hover {
  background-color: var(--btn-delete-hover-bg-color);
}
