<div class="app-container">
  <app-navbar-form></app-navbar-form>
  <app-theme-toggle></app-theme-toggle>
  <main class="content">
    <div class="content-container">
      <div class="header">
        <p>{{'Remember that you can just freeze your account' | translate}}
          <span class="link" (click)="OpenModal2()">{{"here" | translate}}</span> {{"instead" | translate}}
        </p>
        <h1>{{"Account Deleting" | translate}}</h1>
      </div>

      <div class="reasons-container">
        <label class="reason">
          <input id="reason1" type="radio" value="Not interested" name="radAnswer" (change)="checkStatus($event);">
          {{"Not interested" | translate}}
        </label>
        <label class="reason">
          <input id="reason2" type="radio" value="Bad interface" name="radAnswer" (change)="checkStatus($event);">
          {{"Bad interface" | translate}}
        </label>
        <label class="reason">
          <input id="reason3" type="radio" value="Bad features" name="radAnswer" (change)="checkStatus($event);">
          {{"Bad features" | translate}}
        </label>
        <label class="reason">
          <input id="reason4" type="radio" value="Found new website" name="radAnswer" (change)="checkStatus($event);">
          {{"Found new website" | translate}}
        </label>
        <label class="reason">
          <input id="reason5" type="radio" value="Other" name="radAnswer" (change)="checkStatus($event);">
          {{"Other" | translate}}
        </label>
        <textarea id="reason6" class="text-input" #WriteTheReason placeholder="{{'Write the reason' | translate}}"></textarea>
        <div class="password-container">
          <input class="password-input" [type]="visibility ? 'text' : 'password'" #password placeholder="{{'Specify your password here' | translate}}" (cut)="false" (copy)="false" (paste)="false">
          <button class="toggle-visibility" (click)="ChangeVisibilityPassword()">
            <span [class]="visibility ? 'fa fa-eye' : 'fa fa-eye-slash'"></span>
          </button>
        </div>
      </div>

      <div class="action-container">
        <button class="btn-delete" (click)="OpenModal()">
          <span class="mdi mdi-delete mdi-24px"></span>
          <span class="mdi mdi-delete-empty mdi-24px"></span>
          {{"Delete" | translate}}
        </button>
      </div>
    </div>

    <div class="fields" id="exit" (click)="backOptions()"><p>{{"Back" | translate}}</p></div>
  </main>
  <app-scroll-to-top-form></app-scroll-to-top-form>
  <app-footer-form></app-footer-form>
</div>

<app-delete-acc-popup-form [isVisible]="flag" [reason]="reason" (close)="flag = false"></app-delete-acc-popup-form>
<app-freeze-acc-popup-form [isVisible]="flag2" (close)="flag2 = false"></app-freeze-acc-popup-form>
