.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--modal-background);
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--modal-content-background);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--modal-border-color);
  border-radius: 10px;
  width: 30%;
  max-width: 500px;
  color: var(--modal-text-color);
  position: relative;
  font-family: 'Roboto', sans-serif;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--close-button-hover-color);
  text-decoration: none;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--close-button-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-background);
}

