<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header" style="text-align: center; margin-top: -15px">
      <h1>MyKahoot</h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
          <label>Username</label>
          <input type="text" #Login id="usernameLogin" name="username" required="required" (change)="IsLoginFieldEmpty()"/>
        </div>
        <div class="form-group">
          <label>Password</label>
            <input [type]="Visibility ? 'text' : 'password'" #Password id="passwordLogin" name="password" required="required"/>
            <button class="hidden-eye" (click)="ChangeVisibility()">
              <span [class]="Visibility ? 'fa fa-eye icon' : 'fa fa-eye-slash icon'"></span>
            </button>
        </div>
        <div class="form-group" style="position: relative; top: -40px;">
          <label class="form-remember" style="cursor: pointer">
            <input type="checkbox" [disabled]="isDisabled" (change)="RememberMe(Login.value)" style="cursor: pointer"/>Remember Me</label>
          <span class="form-recovery" id="forgot-password" (click)="ToForgotPassword()" style="cursor: pointer">Forgot Password?</span>
        </div>
        <div class="form-group" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: -50px">
          <button type="submit" (click)="LogIn($event, Login.value, Password.value)" style="width: 450px">Log In</button>
          <div class="form-recovery" style="margin-top: 10px;">
            <span style="color: black">Don't have an account? Click </span>
            <span (click)="ToRegisterForm()" class="register-route" style="text-decoration: underline; text-underline-offset: 1px; cursor: pointer;">here</span>
          </div>
          <div class="form-recovery" style="margin-top: 10px;">
            <span style="color: black">OR Sign in as a </span>
            <span id="guest-sign" #Guest (click)="SignInAsAGuest()" style="text-decoration: underline; text-underline-offset: 1px; cursor: pointer; ">Guest</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




