<app-navbar-form></app-navbar-form>
<app-theme-toggle></app-theme-toggle>

<div id="allthethings">
  <div class="fields" (click)="onUsersListsClick()"><p>{{'Users' | translate}}</p></div>
  <div class="fields" (click)="onQuizzesListClick()"><p>{{'Quizzes' | translate}}</p></div>
  <div class="fields" (click)="onSendNewsClick()"><p>{{'SendNews' | translate}}</p></div>
  <div class="fields" (click)="onMessagesClick()"><p>{{'Messages' | translate}}</p></div>
  <div class="fields" (click)="onMyKahootStoreClick()"><p>{{'MyKahootStore' | translate}}</p></div>
</div>

<div id="exit" (click)="backAuth()"><p>{{'Exit' | translate}}</p></div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
