<div id="allthethings">
    <nav>
      <div id="left"></div>

      <div id="create-quiz" (click)="ToCreateQuiz()"><p>CREATE QUIZ</p></div>
      <div id="play" (click)="ToSubjects()"><p>PLAY</p></div>
      <div id="profile" (click)="ToProfile()"><p>PROFILE</p></div>

      <div id="right"></div>

      <div id="exit" (click)="BackAuth($event)"></div>
      <div id="circle"></div>
      </nav>
</div>

<div class="wrapper">
  <header>
    <i class="bx bx-cookie"></i>
    <h2>Cookies Consent</h2>
  </header>
  <div class="data">
    <p>This website use cookies to help you have a superior and more relevant browsing experience on the website.
      <a (click)="ToReadMore()"> Read more...</a>
    </p>
  </div>
  <div class="buttons">
    <button class="button" id="acceptBtn" (click)="AcceptCookies()">Accept</button>
    <button class="button" id="declineBtn" (click)="DeclineCookies()">Decline</button>
  </div>
</div>

