<app-navbar-form></app-navbar-form>

<div class="content-outer-contaienr">
  <div class="inner-outer-container">
    <ng-container *ngIf="role === 'Teacher'">
      <div id="allthethings">
        <nav>
          <div class="fields" (click)="ToCreateQuiz()"><p>{{'CreateAQuiz' | translate}}</p></div>
          <div class="fields" (click)="ToSubjects()"><p>{{'Play' | translate}}</p></div>
          <div class="fields" (click)="ToProfile()"><p>{{'Profile' | translate}}</p></div>
          <div class="fields" (click)="BackAuth($event)"><p>{{'Exit' | translate}}</p></div>
        </nav>
      </div>
    </ng-container>

    <ng-container *ngIf="role === 'Student'">
      <div class="allthethings">
        <nav>
          <div class="fields" (click)="ToSubjects()"><p>{{'Play' | translate}}</p></div>
          <div class="fields" (click)="ToProfile()"><p>{{'Profile' | translate}}</p></div>
          <div class="fields" (click)="BackAuth($event)"><p>{{'Exit' | translate}}</p></div>
        </nav>
      </div>
    </ng-container>
  </div>
</div>


<div class="wrapper">
  <header>
    <i class="bx bx-cookie"></i>
    <h2>{{'CookiesConsent' | translate}}</h2>
  </header>
  <div class="data">
    <p>{{'CookiesDescription' | translate}}
      <a (click)="ToReadMore()"> {{'ReadMore' | translate}}</a>
    </p>
  </div>
  <div class="buttons">
    <button class="button" id="acceptBtn" (click)="AcceptCookies()">{{'Accept' | translate}}</button>
    <button class="button" id="declineBtn" (click)="DeclineCookies()">{{'Decline' | translate}}</button>
  </div>
</div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
