@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

#exit {
  height:30px;
  width:30px;
  background:#006680;
  border: 1px solid black;
  border-radius:50px;
  position:Absolute;
  top:-30px;
  z-index:50;
  right:-15px;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;

}
#exit:after {
  content:"";
  display:block;
  height:15px;
  width:15px;
  background:transparent;
  border-radius:50px;
  position:absolute;
  top:5px;
  left:5px;
  border:3px solid orange;
  border-top-color:transparent;

}

#exit:before {
  content:"";
  display:block;
  height:10px;
  width:3px;
  background:orange;
  z-index:70;
  position:Absolute;
  right:13px;
  top:6px;

}

#circle {
  height:40px;
  width:40px;
  background:transparent;
  border:1px solid white;
  border-radius:50px;
  position:absolute;
  top:-35px;
  z-index:40;
  right:-20px;

}

#exit:hover {
  background:#7A0000;
}

#allthethings {
  width:0px;
  height:0px;
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: 3px;
  position:relative;
  margin:auto;
  top:50px;
}

#create-quiz:hover,
#play:hover,
#profile:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
}

#left {
  height:110px;
  width:600px;
  background-color: #b8c6db;
  position:absolute;
  z-index:6;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  top:-175px;
  right:-104px;
  border-top:1px solid white;
}

#right {
  height:100px;
  width:600px;
  background-color: #b8c6db;
  position:absolute;
  top:-229px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index:7;
  left:-56px;
  border-top:1px solid white;
}

#single p {
  position:relative;
  top:2px;
  right:4px;
}

#create-quiz {
  height:50px;
  width:600px;
  background:#006680;
  position:relative;
  bottom:315px;
  right:290px;
  text-align:center;
  font-size:30px;
  font-family:shadows into light;
  color:orange;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}

#create-quiz p {
  position:relative;
  top:0px;
  right:9px;
}

#play {
  height:50px;
  width:450px;
  background:#006680;
  position:relative;
  bottom:315px;
  right:225px;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}

#play p {
  position:relative;
  top:0px;
  right:4px;
}

#profile {
  height:50px;
  width:300px;
  position:relative;
  background:#006680;
  bottom:315px;
  font-size:30px;
  right:150px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}

#profile p {
  position:relative;
  top:0px;
}

.wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: animation 3s;
}
.wrapper.show {
  right: 20px;
}
.wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
header i {
  color: #4070f4;
  font-size: 32px;
}
header h2 {
  color: #4070f4;
  font-weight: 500;
}
.wrapper .data {
  margin-top: 16px;
}
.wrapper .data p {
  color: #333;
  font-size: 16px;
}
.data p a {
  color: #4070f4;
  text-decoration: none;
}
.data p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #4070f4;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.buttons #acceptBtn:hover {
  background-color: #034bf1;
}
#declineBtn {
  border: 2px solid #4070f4;
  background-color: #fff;
  color: #4070f4;
}
#declineBtn:hover {
  background-color: #4070f4;
  color: #fff;
}

@keyframes animation {
  from {right: -370px}
  to {right: 30px}
}

@media screen and (max-width: 500px) and (min-width: 350px) {

}
