<app-navbar-form></app-navbar-form>

<ng-container *ngIf="role === 'Teacher'">
  <div class="allthethings">
    <nav>
      <div class="create-quiz" (click)="ToCreateQuiz()"><p>CREATE A QUIZ</p></div>
      <div class="play" (click)="ToSubjects()"><p>PLAY</p></div>
      <div class="profile" (click)="ToProfile()"><p>PROFILE</p></div>
      <div class="exit" (click)="BackAuth($event)"><p>EXIT</p></div>
    </nav>
  </div>
</ng-container>

<ng-container *ngIf="role === 'Student'">
  <div class="allthethings">
    <nav>
      <div class="play" (click)="ToSubjects()"><p>{{'Play' | translate}}</p></div>
      <div class="profile" (click)="ToProfile()"><p>{{'Profile' | translate}}</p></div>
      <div class="exit" (click)="BackAuth($event)"><p>{{'Exit' | translate}}</p></div>
    </nav>
  </div>
</ng-container>

<div class="wrapper">
  <header>
    <i class="bx bx-cookie"></i>
    <h2>Cookies Consent</h2>
  </header>
  <div class="data">
    <p>This website use cookies to help you have a superior and more relevant browsing experience on the website.
      <a (click)="ToReadMore()"> Read more...</a>
    </p>
  </div>
  <div class="buttons">
    <button class="button" id="acceptBtn" (click)="AcceptCookies()">Accept</button>
    <button class="button" id="declineBtn" (click)="DeclineCookies()">Decline</button>
  </div>
</div>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
