@import "src/creating-quiz-option-form/creating-quiz-option-form.component.css";

.wrapper{
  position: absolute;
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 8px;
  bottom: 30px;
  right: 30px;
  padding: 15px 25px 25px;
  z-index: 99999;
  animation-name: animation;
  animation-duration: 5s;
}

.wrapper header{
  display: flex;
  align-items: center;
  column-gap: 15px;
}

header i{
  color: #4070f4;
  font-size: 32px;
}

header h2{
  color: #4070f4;
  font-weight: 500;
}

.wrapper data {
  margin-top: 16px;
}

.wrapper data p{
  color: #333;
  font-size: 16px;
}

.data p a{
  color: #4070f4;
  text-decoration: none;
  cursor: pointer;
}

.data p a:hover{
  text-decoration: underline;
}

.wrapper .buttons{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons .button{
  border: none;
  width: calc(100% / 2 - 10px);
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background-color: #4070f4;
  cursor: pointer;
}

.buttons .button:hover{
  background-color: #034bf1;
}

@keyframes animation {
  0%   {right: -350px; bottom: 30px;}
  50%  {right: 15px; bottom: 30px;}
  100% {right: 30px; bottom: 30px;}
}
