.container {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  color: #333;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.first-layer, .second-layer, .third-layer, .fourth-layer {
  margin-bottom: 40px;
}

.first-layer, .second-layer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-side, .right-side, .right-side2 {
  flex: 1;
  padding: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-statement span {
  color: #212529;
  font-size: 2.5em;
  font-weight: 600;
}

.welcome-statement div {
  margin-top: 20px;
  font-size: 1.1em;
  line-height: 1.5;
}

button {
  border: none;
  background-color: #007BFF;
  color: white;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.trapezoid-img, .normal-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.second-layer {
  background-color: #18181b;
  color: white;
  padding: 40px 20px;
  border-radius: 10px;
}

.features-container, .features-container2, .sub-feature-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features-container2 {
  flex-direction: row;
  gap: 20px;
}

.sub-feature-container span {
  font-size: 1.2em;
  font-weight: 600;
}

.sub-feature-container div {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5;
}

.third-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.third-layer span {
  font-size: 1.5em;
  font-weight: 600;
}

.third-layer div {
  margin-top: 10px;
  max-width: 800px;
  font-size: 1.1em;
  line-height: 1.5;
}

.fourth-layer {
  text-align: center;
}

.fourth-layer span {
  font-size: 1.5em;
  font-weight: 600;
}

.questions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.left-side-questions, .right-side-questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question span {
  font-size: 1.2em;
  font-weight: 600;
}

.question div {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .first-layer, .second-layer {
    flex-direction: column;
  }

  .features-container2 {
    flex-direction: column;
  }

  .questions {
    flex-direction: column;
  }

  .left-side, .right-side, .right-side2 {
    padding: 10px;
  }
}
