<div class="container">
  <div class="first-layer">
    <div class="left-side">
      <div class="welcome-statement">
        <span style="color: #212529; font-size: 2.5em; font-weight: 600">Welcome to MyKahoot</span>
        <div>Delve into a world of trivia and challenge yourself with a variety of quizzes across numerous categories. Expand your knowledge while embarking on a journey of learning and fun.</div>
      </div>
      <button style="border: none; background-color: rgb(240, 240, 240)">Join Now</button>
    </div>
    <div class="right-side">
      <img src="https://files.umso.co/lib_NzBDnSGOloSegeaJ/4240497.jpeg" alt="welcome picture" width="500" height="600" class="trapezoid-img"/>
    </div>
  </div>
  <div class="second-layer">
    <div class="left-side">
      <span>Feature Spotlight</span>
      <div>Each quiz on QuizMaster is crafted to ensure maximum engagement and enjoyment, boasting a seamless user experience along with a rewarding challenge.</div>
      <div class="features-container">
        <div class="sub-feature-container">
          <span>Secure Access</span>
          <div>Our advanced security measures ensure that your personal data is safe, allowing you to focus on tackling the next challenge with peace of mind.</div>
        </div>
        <div class="sub-feature-container">
          <span>Custom Quizzes</span>
          <div>Tailor your quiz experience by creating custom quizzes that fit your interests and knowledge base - the ideal way to test your mastery on any subject.</div>
        </div>
        <div class="sub-feature-container">
          <span>Custom Quizzes</span>
          <div>Compete in real-time with quizzers around the globe and climb the leaderboards as you claim your title as a QuizMaster champion.</div>
        </div>
      </div>
    </div>
    <div class="right-side2">
      <img src="https://files.umso.co/lib_NzBDnSGOloSegeaJ/6347913.jpeg" alt="welcome picture" width="500" height="600" class="normal-img"/>
    </div>
  </div>
  <div class="third-layer">
    <span>Discover Features</span>
    <div>Built on feedback from our dedicated community, QuizMaster's features are designed to provide a unique and enriching quiz experience for all ages.</div>
    <div class="features-container2">
      <div class="sub-feature-container">
        <span>Diverse Topics</span>
        <div>With a wide array of topics, you're sure to find quizzes that pique your interest and challenge your brain, from history to pop culture and beyond.</div>
      </div>
      <div class="sub-feature-container">
        <span>Real Rewards</span>
        <div>Achievements feel even better when there's a prize on the line. Earn points, badges, and more as you prove your trivia process on QuizMaster.</div>
      </div>
      <div class="sub-feature-container">
        <span>Social Play</span>
        <div>Invite friends to play along, challenge each other, and see who emerges as the ultimate quiz whiz in your favorite domains.</div>
      </div>
    </div>
  </div>
  <div class="fourth-layer">
    <span>FAQ Section</span>
    <div>Got questions about QuizMaster? Browse through our collection of frequently asked questions to find answers and get back to the fun part – quizzing!</div>
    <div class="questions">
      <div class="left-side-questions">
        <div class="question">
          <span>How to play?</span>
          <div>To play, simply sign up, select a category, and start quizzing! You can play solo or compete with others for a spot on our leaderboard.</div>
        </div>
        <div class="question">
          <span>Do I win prizes?</span>
          <div>While most quizzes provide points and badges, certain competitions and challenges may offer additional prizes. Keep an eye on our announcements!</div>
        </div>
      </div>
      <div class="right-side-questions">
        <div class="question">
          <span>Can I contribute?</span>
          <div>Yes! We welcome your quiz contributions. Use our easy quiz creation tool to share your knowledge and passion for trivia with the community.</div>
        </div>
        <div class="question">
          <span>Can I contribute?</span>
          <div>Enjoying quizzes on QuizMaster is completely free! Some special features or events may have associated costs, but we strive to keep most of the platform accessible to everyone.</div>
        </div>
      </div>
    </div>
  </div>
</div>
