<app-navbar-form></app-navbar-form>

<body>
  <div class="row">
    <h1>{{"Forgot Password" | translate}}</h1>
    <h6 class="information-text">{{"Enter your registered email to reset your password" | translate}}</h6>
    <div class="form-group">
      <input type="email" id="user_email" name="mail" [(ngModel)]="myMail" #mail="ngModel" required email (cut)="false" (copy)="false" (paste)="false">
      <p><label>{{"EmailP" | translate}}</label></p>
      <div [hidden]="mail.valid || mail.untouched" class="alert">
        {{"Email is not specified" | translate}}
      </div>
      <button [disabled]="mail.invalid" (click)="resetPassword($event, myMail)">{{"Reset Password" | translate}}</button>
    </div>
  </div>
</body>

<app-scroll-to-top-form></app-scroll-to-top-form>
<app-footer-form></app-footer-form>
