@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');



* {
  box-sizing: border-box;
}

body {
  background-color: var(--nap-background-color);
  color: var(--nap-text-color);
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.page_404 {
  padding: 40px 0;
  text-align: center;
}

.page_404 .container {
  max-width: 960px;
  margin: 0 auto;
}

.page_404 .four_zero_four_bg {
  background-color: var(--nap-404-color);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 40px 20px;
}

.page_404 .four_zero_four_bg h1 {
  font-size: 120px;
  font-weight: 700;
  margin: 0;
  color: var(--nap-primary-color);
}

.page_404 .contant_box_404 h3 {
  font-size: 32px;
  font-weight: 500;
  color: var(--nap-secondary-color);
  margin-bottom: 20px;
}

.page_404 .contant_box_404 p {
  font-size: 18px;
  color: var(--nap-text-color);
  margin-bottom: 30px;
}

.page_404 .link_404 {
  background-color: var(--nap-primary-color);
  color: var(--nap-button-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
  display: inline-block;
}

.page_404 .link_404:hover {
  background-color: var(--nap-primary-hover);
}
