/*scrolltopButton {*/
/*  !*display: none;*!*/
/*  position: fixed;*/
/*  bottom: 200px;*/
/*  left: 30px;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  z-index: 1001;*/
/*  border: none;*/
/*  outline: none;*/
/*  background-color: blue;*/
/*  color: white;*/
/*  cursor: pointer;*/
/*  padding: 12px;*/
/*  border-radius: 50px;*/
/*  font-size: 22px;*/
/*}*/
/*.scrolltopButton:hover {*/
/*  background-color: #555;*/
/*}*/

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  left: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
  z-index: 9999;
}
.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
